@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@200;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: "Chivo", sans-serif;
	}

	:root {
		--background: 220, 13%, 95%;
		--foreground: 0, 0%, 10%;

		--card: 75, 255%, 255%;
		--card-foreground: 0, 0%, 10%;

		--popover: 75, 255%, 255%;
		--popover-foreground: 0, 0%, 10%;

		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;

		--secondary: 240, 11%, 89%;
		--secondary-foreground: 240, 11%, 49%;

		--muted: 218, 5%, 84%;
		--muted-foreground: 218, 5%, 44%;

		--accent: 220, 43%, 95%;
		--accent-foreground: 220, 43%, 45%;

		--destructive: 0 88% 46.3%;
		--destructive-foreground: 0 0% 100%;

		--border: 213, 14%, 88%;
		--input: 214.3 31.8% 91.4%;
		--ring: 225 100% 54.5%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0, 0%, 8%;
		--foreground: 75, 255%, 255%;

		--card: 234, 17%, 12%;
		--card-foreground: 75, 255%, 255%;

		--popover: 234, 17%, 12%;
		--popover-foreground: 75, 255%, 255%;

		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 227, 25%, 22%;
		--secondary-foreground: 227, 25%, 72%;

		--muted: 237, 9%, 16%;
		--muted-foreground: 237, 9%, 56%;

		--accent: 226, 30%, 17%;
		--accent-foreground: 226, 30%, 67%;

		--destructive: 0 88% 46.3%;
		--destructive-foreground: 0 0% 100%;

		--border: 236, 15%, 20%;
		--input: 217.2 32.6% 17.5%;
		--ring: 210 74.7% 62%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
