# Port number for the application (default is `3131`)
PORT=3131
# Shared secret for HMAC validation
VERCEL_SIGNATURE=examplesecret
# Papertrail URLs for logs
STAGING_PAPERTRAIL_URL=logsN.papertrailapp.com:12345
PROD_PAPERTRAIL_URL=logsN.papertrailapp.com:12345