# Main
SERVER_URL=http://localhost:5173
BASE_URL=http://localhost:3131
PORT=3131

# Github
CLIENT_ID=Iv23lig28h1RBcQyuuuB
WEBHOOK_SECRET=squared

# Vercel
PORT=3131
VERCEL_SIGNATURE=examplesecret
PAPERTRAIL_URL=logsN.papertrailapp.com:12345